Client/NEWC/Rookie.log
Rook/Rook/map_items_otsfinal_current.json
Client/NEWC/init.lua
Rook/Rook/vc17/theforgo.A10F9657/x64/Release/theforgottenserver-x64.pch
Rook/Rook/vc17/theforgo.A10F9657/x64/Release/theforgottenserver-x64.iobj
# Visual Studio/MSVC temporary build artifacts
Rook/Rook/**/theforgo.*/
Rook/Rook/**/*.pch
Rook/Rook/**/*.iobj
