Client/NEWC/Rookie.log
Rook/Rook/map_items_otsfinal_current.json
Client/NEWC/init.lua
Rook/Rook/vc17/theforgo.A10F9657/x64/Release/theforgottenserver-x64.pch
Rook/Rook/vc17/theforgo.A10F9657/x64/Release/theforgottenserver-x64.iobj
# Visual Studio/MSVC temporary build artifacts
Rook/Rook/**/theforgo.*/
Rook/Rook/**/*.pch
Rook/Rook/**/*.iobj

# Local backup files created during manual binary swaps
Rook/Rook/*.bak_*

# OTClient build artifacts and local archives
otcv8-dev-master/vc16/otclient/OpenGL/
otcv8-dev-master/tests.7z
otcv8-dev-master/*.iobj
otcv8-dev-master/*.ipdb
otcv8-dev-master/*.obj
otcv8-dev-master/*.ilk
otcv8-dev-master/*.pdb
otcv8-dev-master/*.exp
otcv8-dev-master/*.lib

# Ignore entire client trees
Client/
otcv8-dev-master/
nowy klient/Rookie.log
nowy klient/Rookie.log

# Local server artifacts
Rook/Rook/Artefakty/
otcv8-dev-master.rar
nowy klient/
